@media only screen and (max-width: 991.98px) {
    .row {
        flex-direction: column;
    }
    .boxes {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .contactDiv {
        width: 100%;
    }
}